<div class="make_text_responsive">
    <!-- We will build this form using ReactiveForm based on the property "form" inside phonebook.service.ts  -->
    <form [formGroup]="this.phonebookService.form" (ngSubmit)="onSubmit()">
            <input type="hidden" formControlName="$key"><!-- this is a primary key for each record of numbers and after that we can display the active form control-->
            <div class="form-group"><!--no field check on this one, so you can enter numbers without firstname-->
                    <label>First Name</label>
                    <input formControlName="firstname" class="form-control"><!-- the value of the formControlName must match the name that we provided inside FormGroup in PhonebookService class -->
            </div>

            <div class="form-group">
                    <label>Last Name</label>
                    <input formControlName="lastname" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.lastname.errors}">
                    <div class="invalid-feedback" *ngIf="submitted && formControls.lastname.errors">This field is required</div>
            </div>

            <div class="form-group">
                    <label>Phone Number</label>
                    <input formControlName="number" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.number.errors}">
                    <div class="invalid-feedback" *ngIf="submitted && formControls.number.errors">
                        <label *ngIf="formControls.number.errors.required" class="show_block">This field is required</label>
                        <label *ngIf="formControls.number.errors.minlength" class="show_block">at least 8 characters</label>
                        <label *ngIf="formControls.number.errors.pattern" class="show_block">only numbers are allowed</label>

                    </div>
            </div>

            <div class="form-group">
                <div class="form-check form-check-inline">   
                    <label class="form-check-label">Important</label>
                    <input type="checkbox" formControlName="important" class="form-check-input ml-3">
                    
                </div>   
            </div>

            <div class="d-flex justify-content-around form-group col-12 text-center">
                    <input type="submit" class="btn btn-primary" value="Save"><!-- the value of the formControlName must match the name that we provided inside FormGroup in PhonebookService class -->
                    <input type="button" class="btn btn-danger" value="Cancel" (click)="onCancel()">
            </div>
            
    </form>
    <div class="alert alert-info" *ngIf="showSuccessMessage">
	    submitted successfully.
	</div>
</div>
