<div class="container-fluid d-flex flex-column justify-content-around">
  <header class="row">
    <div class="col-12 py-3 text-center">
      <h1>Phone Book</h1>
    </div>
  </header>

  <div class="row bg-dark">  
      <app-navbar class="col-12"></app-navbar>
  </div>

  <div id="content_container" class="row text-white p-5">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div> 
  </div>

  <footer class="row">
    <div class="col-12 py-3 text-center text-white">
      <h6>CodeReview 7</h6>    
    </div>
  </footer>

</div>


