<form class="form-inline">
        <input name="searchInput" class="form-control" placeholder="Search" #searchInput="ngModel" [(ngModel)]="searchText" style="width: 90%;">
        <button class="btn btn-light" (click)="searchText=''">x</button>
</form>

<div>
	
	<button class="btn btn-danger float-right my-2" (click)="onDelete()">Delete All</button>
</div>

<div class="p-1 my-5">
	<table class="table table-sm">
	        <thead>
	                <th>First Name</th>
	                <th>Last Name</th>
	                <th>Number</th>
	                <th>Important</th>
	                <th></th>
	        </thead>
	        
	        <ng-container *ngFor="let numbers of numbersArray">
	                
	                <tr class="table-dark" *ngIf="filterCondition(numbers)">
	                        <td>{{numbers.firstname}}</td>
	                        <td>{{numbers.lastname}}</td>
	                        <td>{{numbers.number}}</td>
	                        <td class="text-center">{{numbers.important}}</td>
	                        <td>
	                                <button class="btn btn-info" (click)="phonebookService.populateForm(numbers)">Edit</button>
	                                <button class="btn btn-danger" (click)="onDeleteSingle(numbers.$key)">Delete</button>
	                        </td>
	                </tr>
	        </ng-container>
	</table>
</div>
<div class="alert alert-danger" *ngIf="showDeletedMessage">Deleted successfully</div>