/* You can add global styles to this file, and also import other style files */
header
	background: #D58121

footer
	background: #212121

//puts background for the content-box where the nav is linking
#content_container
	background: linear-gradient(rgba(136, 204, 0, 0.9), rgba(68, 102, 0, 0.2))
	background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2)),url("./assets/jeans.jpg")
	//background-image: url("./assets/jeans.jpg")
	background-repeat: repeat
	

//fixes the checkbox bug in the form	
.checkbox_left
	left: 0 !important
	padding: 0 !important


.show_block
	display: block

.make_me_responsive
	font-size: 2.5vmin
	max-width: 600px
	width: auto

//fixes the width of the search field in the forms
#searchfield
	width: 90%

input[type="checkbox"]:focus
	outline: 0
  